<nav class="flex flex-row justify-between items-center">
    <div class="flex flex-row gap-5 justify-start items-center p-3">
        <a href="/"><img src="/img/Yulje Icon Logo.png" class="w-15" alt="Yulje Logo"></a>
        <div class="flex flex-col">
            <h1 class="text-2xl text-yuldark-500 font-bold">YULJE's Admin Dashboard</h1>
            <small>Halo Min, jangan lupa rajin Git Pull!</small>
        </div>
    </div>
    <div class="flex flex-row gap-5 justify-end items-center p-3">
        <div class="text-right">
            <h1 class="text-2xl text-yuldark-500 font-bold">yulje_pw</h1>
            <small>YULJE's Database</small>
        </div>
        <i class="text-6xl text-blue-950 bi bi-database-fill-gear"></i>
    </div>
</nav>