<footer class="px-5 py-15 md:px-15 md:py-20 lg:px-25 bg-yuldark-500 text-white mt-10 relative">
    <div class="flex flex-col lg:flex-row gap-10 justify-stretch grow">
        <div class="flex flex-col md:flex-row gap-10 justify-stretch grow">
            <div class="grow">
                <h3 class="font-bold text-lg">Layanan</h3>
                <div class="mt-6 flex flex-col gap-3 text-sm text-stone-300">
                    <a href="#" class="hover:text-stone-400">Konsultasi</a>
                    <a href="#" class="hover:text-stone-400">Konsultasi Virtual</a>
                    <a href="#" class="hover:text-stone-400">Pasien Internasional</a>
                    <a href="#" class="hover:text-stone-400">Spesialis Medis</a>
                    <a href="#" class="hover:text-stone-400">Layanan Klinis</a>
                </div>
            </div>
            <div class="grow">
                <h3 class="font-bold text-lg">Fasilitas</h3>
                <div class="mt-6 flex flex-col gap-3 text-sm text-stone-300">
                    <a href="#" class="hover:text-stone-400">Tarif</a>
                    <a href="#" class="hover:text-stone-400">Direktori</a>
                    <a href="#" class="hover:text-stone-400">Cost Estimation</a>
                    <a href="#" class="hover:text-stone-400">Metode Pembayaran</a>
                </div>
            </div>
        </div>
        <div class="flex flex-col md:flex-row gap-10 justify-stretch grow">
            <div class="grow">
                <h3 class="font-bold text-lg">Tentang Kami</h3>
                <div class="mt-6 flex flex-col gap-3 text-sm text-stone-300">
                    <a href="#" class="hover:text-stone-400">Tentang Yulje</a>
                    <a href="#" class="hover:text-stone-400">Peningkatan Kualitas</a>
                    <a href="#" class="hover:text-stone-400">Kantor Resmi</a>
                    <a href="#" class="hover:text-stone-400">Acara</a>
                    <a href="#" class="hover:text-stone-400">Asuransi</a>
                </div>
            </div>
            <div class="grow">
                <img src="img/Yulje Logo_Horizontal.png" class="mb-10 w-50 md:w-75 lg:md-100">
                <h3 class="font-bold text-lg">Hubungi Kami</h3>
                <div class="mt-6 flex flex-col gap-3 text-sm text-stone-300">
                    <a href="#" class="hover:text-stone-400"><i
                            class="bi bi-envelope-fill me-3"></i>yuljecallcenter@gmail.com</a>
                    <a href="#" class="hover:text-stone-400"><i class="bi bi-whatsapp me-3"></i>0812345678910</a>
                    <a href="#" class="hover:text-stone-400"><i class="bi bi-instagram me-3"></i>@yuljemedcenter</a>
                </div>
            </div>
        </div>
    </div>
</footer>