<nav class="top-0 flex justify-between items-center bg-stone-100 p-4 md:px-15 lg:px-25 gap-10 shadow-lg z-50">
    <img class="w-50 md:w-70 lg:w-80" src="/img/Yulje Logo Dark.png" alt="Yulje Medical Center Logo">
    <div class="flex font-bold text-yuldark-500 gap-5 md:gap-10 items-center">
        <a class="hover:text-blue-400 hidden sm:inline-block" href="/">Beranda</a>
        <a class="hover:text-blue-400 hidden sm:inline-block" href="/#faq">FAQ</a>
        <a class="hover:text-blue-400 hidden sm:inline-block" href="/jadwal/dokter">Jadwal Dokter</a>
        <a class="button bg-blue-950 hover:bg-blue-700 p-2 px-4 text-stone-50 rounded-md" href="/pengajuan">Jadwalkan Konsultasi</a>
    </div>
</nav>