<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Jadwal | Yulje</title>

    <%- include('modules/head.ejs') %>
</head>
<body>
    <main class="m-5 px-5">
        <form action="POST"></form>
    </main>
</body>
</html>